/* Default custom select styles */


/* Placeholder and selected option */





/*.cs-select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}*/

/*.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}*/

/*div.cs-active {
	z-index: 10;
}
*/
/* Options */
/*.cs-select .cs-options {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}*/

/*.cs-select ul span {
	padding: 1em;
	width: 100%;
}*/
