bg_main = #FFF
dark_blue = #020622
light_blue = #0061C2
dis_txt = #5A6682
txt_grey = #808184
title_col = #96A0B6
tit_bor = #E3E6EC
grey = #fffffd
grey_txt = #87898c
foot_col = #edf1f5

inner_text = 12px
txt11 = 0.916em
txt13 = 1.083em
txt14 = 1.166em
txt15 = 1.250em
txt16 = 1.333em
txt17 = 1.416em
txt18 = 1.500em
txt19 = 1.583em
txt20 = 1.666em
txt21 = 1.750em
txt22 = 1.833em
txt23 = 1.916em
txt24 = 2.000em
txt25 = 2.083em
txt26 = 2.166em
txt27 = 2.250em
txt28 = 2.333em
txt29 = 2.416em
txt30 = 2.500em
txt31 = 2.583em
txt32 = 2.666em
txt38 = 3.166em
txt40 = 3.333em



// ============================ PLACEHOLDER CUSOTOM=============================
// input::-webkit-input-placeholder,
// input:-moz-placeholder,
// input::-moz-placeholder,
// input:-ms-input-placeholder,
// input.placeholder{
   
// }
// 
// ============================ BASE STYLE =============================
ul,ol
	margin 0
	padding 0
	// list-style-type none

li
	display inline-block

p
	margin 0

input,textarea,select,button
	border 0

*:focus
	outline none

*
	vertical-align top

a
	text-decoration none
	color #fff

// input
// 	width 100%
// 	height 100%
// 	display block
// 	background-color transparent
// 	margin 0
// 	padding-right 25px
// 	padding-left 8px
// 	box-sizing border-box
// 	border 1px solid col_grey


.none
	display none

.fleft
	float left

.fright
	float right


.btn
	display inline-block
	padding 9px
	border 1px solid col_grey
	color #595A5C
	box-shadow 0 3px 2px 0px #D6D7D8
	background-color #fff
	font-weight 700
	margin-left 10px

.us-sel
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

@font-face {
    font-family: 'AvenirNextCyrRegular';
    src: url('../fonts/AvenirNextCyrRegular.eot');
    src: url('../fonts/AvenirNextCyrRegular.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextCyrRegular.woff2') format('woff2'),
         url('../fonts/AvenirNextCyrRegular.woff') format('woff'),
         url('../fonts/AvenirNextCyrRegular.ttf') format('truetype'),
         url('../fonts/AvenirNextCyrRegular.svg#AvenirNextCyrRegular') format('svg');
}

@font-face {
    font-family: 'AvenirNextCyrLight';
    src: url('../fonts/AvenirNextCyrLight.eot');
    src: url('../fonts/AvenirNextCyrLight.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextCyrLight.woff2') format('woff2'),
         url('../fonts/AvenirNextCyrLight.woff') format('woff'),
         url('../fonts/AvenirNextCyrLight.ttf') format('truetype'),
         url('../fonts/AvenirNextCyrLight.svg#AvenirNextCyrLight') format('svg');
}
@font-face {
    font-family: 'BanderaPro';
    src: url('../fonts/BanderaPro.eot');
    src: url('../fonts/BanderaPro.eot') format('embedded-opentype'),
         url('../fonts/BanderaPro.woff2') format('woff2'),
         url('../fonts/BanderaPro.woff') format('woff'),
         url('../fonts/BanderaPro.ttf') format('truetype'),
         url('../fonts/BanderaPro.svg#BanderaPro') format('svg');
}
@font-face {
    font-family: 'BanderaProBold';
    src: url('../fonts/BanderaProBold.eot');
    src: url('../fonts/BanderaProBold.eot') format('embedded-opentype'),
         url('../fonts/BanderaProBold.woff2') format('woff2'),
         url('../fonts/BanderaProBold.woff') format('woff'),
         url('../fonts/BanderaProBold.ttf') format('truetype'),
         url('../fonts/BanderaProBold.svg#BanderaProBold') format('svg');
}

@font-face {
    font-family: 'AvenirNextCyrBold';
    src: url('../fonts/AvenirNextCyrBold.eot');
    src: url('../fonts/AvenirNextCyrBold.eot') format('embedded-opentype'),
         url('../fonts/AvenirNextCyrBold.woff2') format('woff2'),
         url('../fonts/AvenirNextCyrBold.woff') format('woff'),
         url('../fonts/AvenirNextCyrBold.ttf') format('truetype'),
         url('../fonts/AvenirNextCyrBold.svg#AvenirNextCyrBold') format('svg');
}

body
	font-size inner_text
	color txt_main
	font-family 'AvenirNextCyrRegular', Arial, sans-serif



// ============================ MAIN PAGE =============================

header,
.header,
.main_slider
	width 100%
	display block


header
	position relative
	height 150px
	min-width 1280px
	vertical-align top
.scroll
	position absolute
	width 100%
	min-width 1280px
	top 0
	left 0
	display inline-block
	z-index 20
	// transition: top 0.1s ease-out 0.1s;

.main_wrap
	max-width 100%
	// max-width 1600px
	min-width 1280px
	display block
	margin auto


.header,
.content{
	box-sizing border-box
	padding 0 3.125%
	min-width 1280px
}


.narrow_block
	width 75%
	display block
	margin auto


.header
	background-color dark_blue
	position relative
	background-repeat no-repeat
	height 100px
	margin-bottom 50px



















// ============================ ALL FONTS STYLE =============================
// 
.fs1
	font-size txt14
	color #fff

.fs2
	font-size txt14
	text-transform uppercase
	color #000
	font-weight 900
	font-family 'AvenirNextCyrBold' Arial, sans-serif

.fs3
	// font-size 77px
	// font-size 55px
	font-size 5em
	font-family 'AvenirNextCyrBold' Arial, sans-serif
	font-weight 900
.fs4
	text-transform uppercase
	color title_col
	font-size txt14
	a
		color title_col
.fs5
	color #020722
	font-size 63px
	// font-size 75px
	font-weight 100
	font-family 'AvenirNextCyrBold' Arial, sans-serif
	
.fs6,
.fs61
	color #020722
	font-weight 700
.fs6
	font-size txt29
.fs61
	font-size txt20
	margin-top 10px
.fs7
	font-size txt14
	letter-spacing 0.2px
	text-transform uppercase
	font-family: 'BanderaPro';
	color #020722
.fs8
	font-size txt20
	font-family: 'BanderaPro';
	color #020722
	font-weight 900
.fs9
	font-size txt17
	font-weight 700
	padding-right 15%
	margin-top 140px
	font-weight 100
.fs10
	font-size txt20
	color #000
	margin-top 20px
.fs11
	color #020722
	font-size 30px
	// font-size 75px
	font-weight 100
	font-family: 'BanderaProBold';
.fs12
	font-size txt17
	font-weight 700
	font-weight 100
	margin-top 20px
	line-height 30px
.tac
	text-align center
.tar
	text-align right
.tal
	text-align left













.content
	width 100%
	max-width 1600px
	display block
	margin auto
	background-color #fff




.b_line
	border-bottom 2px solid light_blue
	&:hover
		border-bottom 2px solid transparent
.login_in
	display inline-block
	padding-left 49px
	margin-top 39px
	color dis_txt
	font-size txt15
	position relative
	&:before
		content ""
		position absolute
		width 28px
		height 33px
		left 0px
		top -8px
		background url(../img/sprite.png) right -154px no-repeat

.sign_up,
.sign_in
	color dis_txt
	&:hover
		color #fff
.line_dis
	content '/'
	margin 0 5px 0 8px
	color dis_txt
	font-weight 700

.social
	margin 40px 0 0 10.3%
	display inline-block
	li
		display inline-block
		margin 0 31px 0 0
		a
			display inline-block
			width 16px
			height 14px
			padding 0 0 3px 0
			background-image url(../img/sprite.png)
			&.fb
				background-position 104px 0
			&.ig
				background-position 1px 0
			&.yt
				background-position 122px 0
				
.logo
	position absolute
	top 7px
	left 0
	right 0
	bottom 0
	margin auto
	width 145px
	height 70px
	z-index 2
	background url(../img/sprite.png) center -484px no-repeat

@keyframes phone {
    from {padding: 9px 28px}
    to {padding: 9px 46px 9px 10px}
}
.mini_menu
	display inline-block
	margin 40px 0 0 25.7%
	width 41%
	li
		margin 0 16% 0 0
		&:last-of-type
			margin 0
		a
			font-size txt14

.phone
	display inline-block
	font-size txt14
	color #fff
	margin 32px 8% 0 0
	padding 9px 28px
	letter-spacing 0.65px
	background-color light_blue
	border-radius 3px
	float right
	cursor pointer
	transition 0.7s
	position relative
	// transition: top 1s ease-out 1s;
	&:before
		content ""
		width 16px
		height 13px
		background url(../img/sprite.png) left -89px no-repeat
		opacity 0
		position absolute
		top 0
		bottom 0
		margin auto
		right 28px
		transition 0.5s
	&:hover
		padding: 9px 46px 9px 10px
		&:before
			right 15px
			opacity 1

.head_left
	width 50%
	display inline-block
	position absolute
	left 50%
	top 0
	&:after
		clear()
		
	
.main_menu
	width 100%
	display block
	// background-color #f2f2f2
	background-color #fff
	text-align center
	height 50px
	position absolute
	top 100px
	left 0
	z-index 2
	li 
		display inline-block
		margin 17px 33px 0 33px
		a
			font-size inherit
			color inherit
			font-family: 'AvenirNextCyrBold';
			&:hover
				color light_blue
	.search
		position absolute
		width 16px
		height 16px
		background url(../img/sprite.png) right -105px no-repeat
		right 3.1%
		top 18px
		&:hover
			background url(../img/sprite.png) right -78px no-repeat
		input
			display none

.img,
.box
	background-size cover
	background-repeat no-repeat
	background-position center center






















footer
	width 100%
	margin-top 55px
	padding 106px 0 100px 0
	background-color foot_col
	overflow hidden
	position relative

.flogo
	width 23%
	float left
	display inline-block
	// height 100%
	height 200px
	background url(../img/sprite.png) center -581px no-repeat


.info_block
	display inline-block
	width 77%
	float left
	margin-top 63px

.contact
	width 150px
	display inline-block
	font-size txt14
.f_menu
	display inline-block
	padding 0 0 0 8%
	// width 155px
	p
		font-family: 'AvenirNextCyrBold';
		font-size txt16
		margin 0 0 10px 0
	li
		display block
		margin 0 0 10px 0
		a
			color #000
			&:hover
				text-decoration underline
.fsocial
	position absolute
	left 22%
	top 80px
	li
		padding 0 10px
	a
		width 20px
		height 20px
		padding-bottom 3px
		display inline-block
		border-bottom 2px solid transparent
		&:hover
			border-bottom 2px solid light_blue
		&.fb
			background url(../img/sprite.png) 0 -31px no-repeat
		&.ig
			background url(../img/sprite.png) -30px -31px no-repeat
		&.sk
			background url(../img/sprite.png) -60px -31px no-repeat
		&.yt
			background url(../img/sprite.png) -90px -31px no-repeat
		&.gp
			background url(../img/sprite.png) -125px -31px no-repeat








