@import normalize
@import head_foot

center()
	top 0
	left 0
	right 0
	bottom 0
	margin auto 
	position absolute

cnt()
	content ""

.img
		width 100%
		height 100%
		top 0
		left 0
		display block
		position absolute

clear()
	content ""
	display block
	height 0
	clear both

.main_slider
	// height 811px
	width 100%
	// min-height 768px
	max-width 1920px
	display block
	margin auto
	margin-bottom 40px
	overflow hidden
	.slick-slide
		position relative
		// height 811px
		// height 750px
		margin-bottom 40px
	.slick-list,
	.slick-track,
	.slick-slide
		height 100%
	.img
		width 100%
		height 100%
		top 0
		left 0
		display block
		position absolute
		z-index -1
	.slick-dots
		height 40px
		bottom 0
		background-color #0B0B0B
		
	.slide_cont
		width 1000px
		margin auto
		.title
			padding-left 20px
			margin-left 10%
		.tit_link
			margin-left 10%
			a
				font-size txt19
	.s_left,
	.s_right
		width 50%
		display inline-block
		box-sizing border-box
		.tit_link
			a
				font-size txt16

	.s_left
		float left
		padding-left 15%
		// margin-left 110px
	.s_right
		float right
		padding-left 6%
	
	.l_h1
		color #fff
		display block
		margin auto
		text-align center
		margin-top 13%
		margin-bottom 4%
		position relative
		&:before
			content ""
			position absolute
			width 100px
			height 120px
			top -111px
			left 0
			right 0
			margin auto
			background url(../img/sprite.png) center -937px no-repeat
	.title
		font-size txt26
		line-height 35px 
		color #fff
		font-family: 'BanderaPro';
		text-transform uppercase
		padding 0 0 5% 20px
		margin-bottom 25px
		height 200%
		opacity 0.8
		// border-left 2px solid #647585
		border-left 2px solid rgba(255,255,255, 0.5)
		&.m18
			margin-left 18%
		&.bg1
			background: url(../img/sprite.png) 5px -1083px no-repeat
		&.bg2
			background: url(../img/sprite.png) 5px -1200px no-repeat
		&.bg3
			background: url(../img/sprite.png) 5px -1442px no-repeat
		&.bg4
			background: url(../img/sprite.png) 25px bottom no-repeat
		&.bg5
			background: url(../img/sprite.png) 5px -1320px no-repeat
		&.bg6
			background: url(../img/sprite.png) 5px -1533px no-repeat
	.slick-dots
		li
			width auto
			padding 0 25px
		button
			font-size 12px
			font-family: 'AvenirNextCyrRegular';
			width auto
			height 37px
			color #737c99
			border-top 3px solid transparent
			text-transform uppercase
			position relative
			&:hover
				color #fff
		li.slick-active button
			color #fff
			border-top 3px solid light_blue
			&:before
				content ""
				position absolute
				width 11px
				height 6px
				background url(../img/sprite.png) right -311px no-repeat
				top - 9px
				left 0
				right 0
				margin auto
	.slick-prev,
	.slick-next
		width 60px
		height 100px
		padding 50px
		box-sizing content-box
		&:before
			content ''
			position absolute
			top 0
			bottom 0
			margin auto
			width: 20px;
			height: 32px;
			background-repeat: no-repeat;
			background-image: url(../img/sprite.png);
		span
			position absolute
			color #fff
			width 200px 
			height 20px
			display inline-block
			font-size 16px
			line-height 1
			font-family: 'AvenirNextCyrLight';
			top 0
			bottom 0
			margin auto
			transition 0.5s
		&:hover
			opacity 1
	.slick-next:before
		right 40px
		background-position: left -160px;

	.slick-prev:before
		left 40px
		background-position: left -203px;

	.slick-next:hover
		&:before
			animation: leftAnim 0.5s infinite;
			animation-direction: alternate
			animation-timing-function: ease-in
		span
			font-size 18px
	.slick-prev:hover
		&:before
			animation: rightAnim 0.5s infinite;
			animation-direction: alternate
			animation-timing-function: ease-in
		span
			font-size 18px
		
	.slick-prev span
		left 5px
		transform:rotate(270deg);
	.slick-next span
		right 5px
		transform:rotate(90deg);


@keyframes leftAnim {
    from {right: 40px;}
    to {right: 30px;}
}
@keyframes rightAnim {
    from {left: 40px;}
    to {left: 30px;}
}

.tit_link
	width: 100%
	li
		width 100%
		margin-bottom 10px
		a
			font-family: 'AvenirNextCyrBold';
			padding-bottom 1px
			border-bottom 1px solid #fff
			position relative
			&:hover 
				border-bottom 1px solid transparent
		span
			font-size txt13
			color #fff
			display inline-block 
			width 100%
			padding-top 5px



.ar_link,
.tit_link li a
	position relative
	&:after
		content ""
		width 16px
		height 13px
		position absolute
		right -20px
		top 4px
		background url(../img/sprite.png) left -89px no-repeat
		opacity 0.5
	&:hover:after
			opacity 1
			right -30px
			transition 0.5s



.big_title
	padding-top 59px
	margin auto
	&.tac
		// width 520px
		// width 75%
		padding-left 30%
		text-align left
	&.tac1
		width 820px
		text-align left
	&.tal
		padding-left 7%
	&.tal1
		padding-left 15%
		margin-bottom 50px
	.fs4
		text-align left
		width 100%
		display inline-block
		padding 0 0 23px 10px
		margin 10px 0 5px 4px
		border-left 2px solid tit_bor

.row, .row1, .row2
	display block
	width 100%
	position relative
	&:after
		content ""
		display block
		height 0
		clear both

.desc_to_pic
	text-align left
	width 100%
	display inline-block
	padding 0 0 23px 10px
	border-left 2px solid tit_bor
	margin-left 10%
	&.b
		padding 23px 0 0 10px
	&.l
		margin-left 20%
.row
	&.lft
		.small_slider
			right 0

	&.rght
		// top -117px
		.small_slider
			left 0
			top -105px
		.ar_ar
			float right
			margin-top 70px
		.desc_to_pic
			position relative
			z-index 2
			bottom 105px
	.box, .yacht_img
		height 420px
.row1 
	.box, .yacht_img
		height 380px
.row2
	.box, .yacht_img
		height 600px
.cell25,
.cell30,
.cell40,
.cell50,
.cell60,
.cell70,
.cell75,
.cell100
	display inline-block
	position relative
	margin 0
	height 100%
	float left

.cell40
	width 40%

.cell30
	position absolute
	top 0
	left 0
	width 34%

.cell50
	width 50%
.cell60
	width 60%

.cell70
	width 65%
	margin-left 35%
.cell75
	width 73%
	margin-left 25%
.cell25
	position absolute
	top 0
	left 0
	width 25%
.cell100
	width 100%

.banner
	width 100%
	height 71px
	padding 0 0 15px 22%
	margin-top 50px
	margin-bottom 20px
	position relative
	display inline-block
	box-sizing border-box
	&:before
		content ""
		position absolute
		left 0
		top 0
		bottom 0
		margin auto
		display inline-block
		width 20%
		height 1px
		background-color tit_bor
	.fs7
		display inline-block
		margin 4px 0 0 2px
	&:hover + .box.apollo 
		.curtain,
		.popup1
			opacity 1
.box
	width 100%
	height 420px
	position relative
	display inline-block
	&:hover
		.curtain,
		.popup1
			opacity 1
	&>article
		display inline-block
		padding 50px 13% 0 13%
		color #fff
		font-size txt16
	&.new 
		.popup1
			background rgba(0,0,20,0.8);
		.label:before
			background url(../img/sprite.png) -86px 1px no-repeat
	&.comm 
		.popup1
			background rgba(0,0,20,0.8);
		.label:before
			background url(../img/sprite.png) -64px 0 no-repeat
		.s2
			background url(../img/sprite.png) 0 -337px no-repeat
	&.rew
		.popup1
			background rgba(0,0,20,0.8);
		.label:before
			background url(../img/sprite.png) -112px 1px no-repeat
		.s2
			background url(../img/sprite.png) 0 -337px no-repeat
	&.mandatary,
	&.addit
		width 100%
		padding 0 8%
		box-sizing border-box
.curtain,
.popup1
	opacity 0
	transition 0.4s
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	z-index 10
	box-sizing border-box

.curtain
	background rgba(0,0,20,0.6)
	padding 18% 10% 0 10%
	.p, .article
		text-align center 
		color #fff
		width 100%
		display inline-block
	.p
		font-size 4.5em
		font-family: 'AvenirNextCyrBold';
	.article
		font-family: 'BanderaPro';
		font-size txt21
		line-height 30px
		margin-top 5%

.popup1
	padding 50px 13% 0 13%
	span
		position absolute
		top 0
		bottom 0
		margin auto
		display inline-block
		text-align center 
		width 73%
		height 20px
		font-size 2.5em
		font-weight 900
		&:before
			content ""
			width 16px
			height 13px
			background url(../img/icon/arrow_link_OnMouse.png) center center no-repeat
			position absolute
			top 20px
			bottom 0
			margin auto
			right 5px
.label
	position absolute
	bottom 19px
	left 50px
	padding-left 30px
	color #fff
	z-index 12
	&:before
		content ""
		width 18px
		height 18px
		position absolute
		left 2px
		top -1px
	a
		text-decoration underline
		text-transform uppercase
		color #fff
		&:hover
			text-decoration none
	span
		text-transform uppercase
.yacht_img
	width 56%
	position relative
	float left
.yacht_param
	height 100%
	width 44%
	float left
	padding 0 4%
	background-color #edf1f5
	box-sizing border-box
	position relative
	&.map
	.pic
		width 100%
		height 182px
		img
			height 100%
			display block
			margin auto
	.name
		color #000
		display inline-block
		width 100%
		margin-bottom 20px
		// text-align center
	.param_list
		width 100%
		
		font-size txt13
		line-height 18.5px
		td:last-of-type
			color grey_txt
			font-weight 100
			font-family: 'AvenirNextCyrLight';
			padding-left 12%
		







.arrow_to_top
	width 80px
	height 80px
	position fixed
	bottom 50px
	z-index 15
	display none
	right 50px
	background #fff url(../img/sprite.png) -30px -155px no-repeat
	&:hover
		background #fff url(../img/sprite.png) -30px -237px no-repeat















// custom select
.yacth_arend
	padding 10% 14%
	width 100%
	height 100%
	box-sizing border-box
	.f_line
		width 100%
		display block
		margin-bottom 20px
		&:after
			content ""
			display block
			height 0
			clear both
		select
			display none
	.cl_country,
	.model,
	.year,
	.month,
	.day,
	.period
		height 56px
		display inline-block
		border 2px solid rgba(255,255,255, 0.6)
		color #fff
		background-color transparent
		font-size txt17
		border-radius 0
		box-sizing border-box
	.cl_country,
	.model
		width 100%

	.year,
	.period
		// width 37.27%
		width 36%

	.month,
	.day
		width 28%
	.year, .month
		margin-right 4%
	
	.day,
	.month,
	.year
		float left
	.f_find
		float right
	.f_find
		width 60%
		// width 58.18%
		height 56px
		background-color #fff
		text-align center
		text-transform uppercase
		color #000
		font-family: 'AvenirNextCyrBold';
		font-size txt17
		position relative
		&:after
			content: "";
			width: 16px;
			height: 13px;
			background: url(../img/sprite.png) 0 -58px no-repeat
			opacity: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			z-index 2
			margin: auto;
			right: 34%;
			transition: 0.5s;
		&:hover
			color light_blue
			&:after
				right 31%
				opacity 1


.cs-select 
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 5;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	span
		display: block;
		position: relative;
		cursor: pointer;
		padding: 1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		box-sizing border-box
	.cs-placeholder
		width 100%
		height 100%
		-ms-overflow-style: -ms-autohiding-scrollbar;
		&::-webkit-scrollbar
			display none

		&:after
			right: 1em;
			width 16px
			height 13px
			background url(../img/sprite.png) 0 -133px no-repeat
		&:hover:after
			background url(../img/sprite.png) 0 -111px no-repeat
	.cs-options
		max-height 324px
		position: absolute;
		top: -2px;
		left: -2px;
		border 2px solid transparent
		width: 100%;
		display none
		opacity: 1;
		overflow-y: scroll;
		overflow-x hidden
		background: transparent;
		visibility: visible;
		// padding-bottom: 1.25em;
		pointer-events: none;
		ul
			width 100%
			height 100%
			span
				padding 1em
				width 100%
			li
				width 100%
				border-bottom 2px solid #fff
				background: #020622
				&:last-of-type
					border-bottom 0
				&:hover 
					background #fff
	&.cs-active
		.cs-options
			border 2px solid #fff
.cs-select.cs-active .cs-options {
	visibility: visible;
	display block
}

.cs-select > .cs-placeholder:after,
.cs-select .cs-selected span:after {
	content ""
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.cs-active
	z-index 10



.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}

.cs-placeholder:hover{
	background: #fff;
	color: #000;
}





































// LINK WITH ARROWS
div.select
	&.cl_country,
	&.model,
	&.year,
	&.month,
	&.day
		color #fff
		background select_dark
		padding 10px

.s1, .s2
	position absolute
	display inline-block
	z-index 11

	
.s1
	width 80px
	height 80px
	background url(../img/sprite.png) -30px -73px no-repeat
	span
		position absolute
		color #fff
		font-size txt20
		width 600%
		left 80px
		display none
		top 25px
		opacity 0
.s2
	width 50px
	height 50px
	background url(../img/sprite.png) 0px -391px no-repeat
	
.p1
	top 0
	left 22%
.p2
	bottom 0
	right 0









.list_mater
	padding 154px 0 0 0
	text-align center
	li
		width 12%
		padding 0 3%
		position relative
		&:after
			position absolute
			right -5px
			top 0
			bottom 0
			margin auto
			content ""
			width 10px
			height 10px
			border-radius 10px
			background-color rgba(255,255,255,0.3)
		&:last-of-type:after
			display none
	.num
		font-family: 'BanderaProBold';
		font-size 67px
		color #fff
		width 100%
		display inline-block
	.num_init
		display inline-block
		width 100%
		text-transform uppercase
		font-size txt15
		color light_blue






.llogo
	width 100%
	height 105px
	margin auto
	margin-top 40px
	position relative
	// background url(../img/sprite.png) center -310px no-repeat
	background url(../img/sprite.png) center -800px no-repeat
	&:after,
	&:before
		content ""
		position absolute
		width 31%
		height 1px
		background-color rgba(255,255,255,0.3)
		top 0
		bottom 0
		margin auto
	&:after
		right 15%
	&:before
		left 15%
		




.message
	color #fff
	opacity 0.3
	text-align center
	width 100%
	margin-top 50px
	font-size txt18
	font-style italic
	font-weight 100
	a
		text-decoration underline





#map-canvas
	width 100%
	height 100%
	img
		width 100%



// arenda


.mt40
	margin-top 60px
.share
	width 100%
	position relative
	&:before
		content ""
		position absolute
		height 3px
		width 20px
		background-color #E3E6EC
		top -30px
		left 0
	a
		width 20px
		height 20px
		display inline-block
		margin-right 18px
		padding-bottom 2px
		border-bottom 2px solid transparent
		&:hover
			border-bottom 2px solid light_blue
	.ggl
		background url(../img/icon/Google_blue.png) 0 0 no-repeat
	.inst
		background url(../img/icon/insta_blue.png) 0 0 no-repeat
	.fb
		background url(../img/icon/facebook_blue.png) 0 0 no-repeat
	



.article
	&.head
		font-size txt25
		line-height 35px




.ffy
	color #000
	text-decoration underline
	position absolute
	bottom 5px
	padding-left 70px
	font-size txt18
	font-weight 700
	&:hover
		text-decoration none
	&:before
		content ""
		width 50px
		height 50px
		position absolute
		display inline-block
		left 0px
		top -14px
		background  url(../img/sprite.png) -53px -337px no-repeat
	&.pdf
		&:before
			background  url(../img/sprite.png) -53px -391px no-repeat
	.ar_link:after
		background  url(../img/sprite.png) 0 -74px no-repeat!important
		top 7px
	&.ar_link.pdf
		position relative
		display inline-block
		margin-bottom 50px
		width 100%
		&:first-of-type
			margin-top 20px
	&.top
		bottom auto
		top 15px

.brand
	position absolute
	bottom 30px
	// left 10%


.small_slider
	width 110%
	height 440px
	img
		width 100%
		height 100%
	.slick-slide
		height 440px
		background-size cover
		background-repeat no-repeat
	&.bb
		margin-bottom 0
.video_slider
	width 100%
	height 495px
	margin-bottom 0
	.slick-slide
		height 495px
		background-size cover
		background-repeat no-repeat
.ar_ar
	width 80%
	display block
	margin-top 70px
	
	p
		font-size txt18
		margin-bottom 30px
	a
		font-size txt18
		margin-top 10px
		display inline-block
		color #000
		text-decoration underline
		position relative
		font-weight 900
		&:after
			content ""
			width 16px
			height 13px
			position absolute
			right -30px
			top 4px
			background url(../img/arr_grey.png) center center no-repeat
			opacity 0.5
		&:hover
			text-decoration none
			


.big_table
	width 90%
	box-sizing border-box
	margin-left 10%
	margin-top 30px

	td
		color #000
		overflow hidden
		margin-bottom 15px
		font-size txt18
	td:first-of-type
		width 40%
		display inline-block
	td:last-of-type
		width 58%
		padding-left 1%
		display inline-block

.dot
	position relative

	&:after
		content ""
		width 200px
		position absolute
		right -205px
		height 100%
		background url(../img/dot.png) 0 15px repeat-x
		
.comma
	text-indent 40px 
	font-style italic
	position relative
	&:before
		content ""
		position absolute
		top 40px 
		left 35px
		display inline-block
		width 34px
		height 26px
		background  url(../img/sprite.png) right -210px no-repeat
		
.big_yach
	width 100%
	height 100%
	background-position center center 
	// background-size cover
	background-size contain
	background-repeat no-repeat
	min-height 750px
	position relative
	&:before
		content ""
		width 116px
		height 133px
		position absolute
		top 0
		right 0
		background url(../img/sprite.png) center -482px no-repeat
		background-size cover
.price_list
	width 100%
	margin-top 30px
	box-sizing content-box
	position relative
	&.bor:after
		content ""
		width 100%
		height 1px
		background-color #B9BECE
		position absolute
		bottom -20px
.price_list,
.depo
	width 100%
	margin-top 30px
	box-sizing content-box
	position relative
	td
		font-size txt15
		overflow hidden
		display inline-block
		margin-bottom 10px
		box-sizing content-box
	td:first-of-type
		width 73%
	td:last-of-type
		width 23%
		padding-left 2%
		font-weight bold

.depo
	margin-top 50px
.addit
	background-color #707D9B
	color #fff
.mandatary
	background-color #1B3468
	color #fff
	
.pad
	padding 0 3.5%
	box-sizing border-box
	


.small_slider,
.video_slider
	.slick-next,
	.slick-prev
		z-index 3
		width 13px
		height 19px
		top auto
		left auto
		bottom auto
		right auto
		&:hover
			opacity 1
	&.bb
		.slider_panel
			bottom -42px
		.slick-next,
		.slick-prev
			bottom - 42px
	&.bt
		.slider_panel
			top -42px
		.slick-next,
		.slick-prev
			top -42px
	.slick-prev
		background transparent url(../img/sprite.png) 0 -266px no-repeat
		right 130px

	.slick-next
		background transparent url(../img/sprite.png) 0 -295px no-repeat
		right 60px
	.slick-dots
		bottom 20px
		button
			width 15px
			height 15px
			background-color #fff
			border-radius 15px
			opacity 0.5
			&:hover
				opacity 1
		.slick-active button
			opacity 1
	// &.bb .slider_panel
	// 	bottom -41px
	// &.bb .slider_panel
	// 	bottom -41px
.slider_panel
	width 58px
	position absolute
	font-weight 800
	right 73px
	display inline-block
	color #000
	text-align center
	font-family: 'AvenirNextCyrBold';
	font-size txt15



.brand_logo
	width 100%
	height 120px
	padding-top 20px
	img
		display block 
		margin auto
		// height 100%







































































.clogo {
	width: 150px;
	top: -200px;
	position: absolute;
	display: inline-block;
	height: 170px;
	background: url("../img/sprite.png") center -1874px no-repeat;
}
.csocial {
	margin-left: 20px;
}
.csocial li {
	padding: 30px 10px;
}
.csocial li:first-child {
	padding: 27px 0px 0px 0px;
	margin-right: 10px;
	border-top: 3px solid #e3e6ec;
}
.c_row {
	display: block;
	width: 100%;
	padding-top: 70px;
}
.c_block {
	display: inline-block;
	margin: 0px 20px;
}
.c_block:last-child {
	float: right;
}
.c_title {
	display: block;
	font-size: 32px;
	font-family: 'BanderaPro';
	font-weight: bold;
	letter-spacing: 0.2px;
	height: 80px;
}
.c_position {
	display: block;
	font-size: 20px;
	height: 60px;
	font-family: 'AvenirNextCyrRegular';
	background: url("../img/icon/c_position.png") left 0px no-repeat;
	padding: 5px 0px 5px 50px;
	margin: 15px;
}
.c_map_position {
	display: block;
	width: 580px;
	height: 322px;
}
.c_ru_map {
	background: url("../img/c_ru_map.png") center 0px no-repeat;
}
.c_hrv_map {
	background: url("../img/c_hrv_map.png") center 0px no-repeat;
}
.c_esp_map {
	background: url("../img/c_esp_map.png") center 0px no-repeat;
}
.c_ita_map {
	background: url("../img/c_ita_map.png") center 0px no-repeat;
}
.c_phone {
	display: block;
	font-size: 20px;
	font-family: 'AvenirNextCyrRegular';
	background: url("../img/icon/c_phone.png") left 0px no-repeat;
	padding: 5px 0px 5px 50px;
	margin: 15px;
}
.c_mail {
	display: block;
	font-size: 20px;
	font-family: 'AvenirNextCyrRegular';
	background: url("../img/icon/c_mail.png") left 0px no-repeat;
	padding: 5px 0px 5px 50px;
	margin: 15px;
}
.c_skype {
	display: block;
	font-size: 20px;
	font-family: 'AvenirNextCyrRegular';
	background: url("../img/icon/c_skype.png") left 0px no-repeat;
	padding: 5px 0px 5px 50px;
	margin: 15px;
}
.c_skype b, .c_mail b {
	border-bottom: 1px solid;
}
.cform {
	margin:auto;
	margin-top: 100px;
	width: 60%;
	padding 0 10%
	padding-bottom 100px
	box-sizing border-box
	// height: 740px;
	border: 5px solid #edf1f5;
}
.cform span {
	font-size: 76px;
	display: block;
	height: 100px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}
.inp_line
	width 100%
	display block
	margin auto
	position relative
	margin-bottom 20px
	
.cformtext {
	width: 100%;
	height: 60px;
	margin: auto;
	// margin-top: 20px;
	background: #edf1f5;
	padding: 0px 30px;
	box-sizing border-box
	font-family: 'AvenirNextCyrRegular', Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
.cformtextarea {
	width: 100%;
	height: 150px;
	box-sizing border-box
	display: block;
	background: #edf1f5;
	padding: 15px 30px 60px 30px;
	font-family: 'AvenirNextCyrRegular', Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	resize: none;
}
.cformbut {
	width: 100px;
	height: 60px;
	display: block;
	float: right;
	position absolute
	z-index 2
	right 0
	bottom 0

	background: url("../img/icon/cformbut.png") center 0px no-repeat;
}




.answer_true{
 display: none;
 color: green;
 margin: 10px 0;
 font-size: 16px;
}
.answer_errors{
 margin: 10px 0;
}
.answer_errors p{
 color: red;
 margin: 0;
 font-size: 15px;
}